.NavBar-Wrapper {
  backdrop-filter: blur(17px) saturate(200%);
  -webkit-backdrop-filter: blur(17px) saturate(200%);
  background-color: rgba(10, 10, 26, 0.89);
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 50px;
  color: #fff;
}

.NavBar-Title {
  font-weight: lighter;
  padding-left: 1rem;
}

.NavBar-Link {
  padding: 0.8rem;
  color: #fff;
  transition: 0.7s color ease;
}

.NavBar-Link:hover {
  color: #fff;
}
