.Table {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  width: auto;
}
.Card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.Spinner-Wrapper {
  display: flex;
  justify-content: center;
  height: 100vh;
  align-items: center;
}
.Table-Wrapper {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.Grid-Container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 10px;
  width: auto;
  margin-top: 1rem;
}
@media (max-width: 1008px) {
  .Grid-Container {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (max-width: 700px) {
  .Grid-Container {
    grid-template-columns: repeat(1, 1fr);
  }
}
.No-Students {
  font-weight: bold;
  text-align: center;
  margin-top: 100px;
}
