.Student-Box {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 250px;
  height: auto;
  border: 1px solid #ccc;
  border-radius: 10px;
  margin: 10px;
  padding: 20px;
  text-align: center;
}

.Student-Box-Image {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  margin-bottom: 10px;
}

.Student-Box-Content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.Student-Box-Name {
  font-weight: bold;
  margin-bottom: 5px;
}

.Student-Box-Email,
.Student-Box-Enroll {
  color: #555;
  margin-bottom: 5px;
}

.Student-Box-Actions {
  margin-top: auto;
}

.Action-Button {
  width: 45px;
  height: 40px;
  background-color: #3833a5;
  color: #fff;
  border: none;
  margin: 5px;
  border-radius: 2px;
  cursor: pointer;
  outline: none;
}
